body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

div > h1{
    font-size: 1.8rem;
}



.pill-white{
    border: 0.5px solid;
    border-radius: 5px;
    text-align: center;
}

header .row{
    display: flex;
    align-items: center;
}

.col-sm-4 p{
    margin: 25px 20px 15px;
    min-width: 60px;
    padding: 1px;
}

.backgroundImage{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("https://www.w3schools.com/css/img_lights.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    filter: alpha(opacity=50);
}

.backgroundImage h2 {
    background-color: #FFFFFF;
    display: inline-block;
    color: #F06529;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 5px;
  }
  
  .backgroundImage h3 {
    color: #FFFFFF;
    font-weight: bold;
  }