body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

div > h1{
    font-size: 1.8rem;
}

.pill-white{
    border: 0.5px solid;
    border-radius: 12px;
    text-align: center;
}

header .row{
    display: flex;
    align-items: center;
}

.col-sm-4 p{
    margin: 70px 70px 70px;
    min-width: 100px;
    padding: 1px;
    
}

#info{
    margin: 25px 20px 20px;
    min-width: 90px;
    padding: 1px;
    margin-left: 800px;
    margin-bottom: 450px;
}

#info2{
    margin: 25px 20px 20px;
    min-width: 90px;
    padding: 1px;
    margin-left: 25px;
    margin-bottom: 0,1px;
}


.backgroundImage{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("img1.JPG");
    background-size: cover;
    background-position: center;
}

.backgroundImage h2 {
    background-color: #FFFFFF;
    display: inline-block;
    color: rgb(5, 5, 92);
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 20px;
  }
  
  .backgroundImage h3 {
    color: #FFFFFF;
    font-weight: bold;
  }
  
  